/* ===========================
   HEADER
=========================== */

:host{
     --qf-navy: #13253F;
}

.header{
    width:100%;
    background:var(--qf-navy);
    color:#fff;
    border-radius:18px;
    overflow:hidden;
    text-align:center;
}

/* ===========================
   HEADER CONTENT
=========================== */

.inner-header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px 30px 12px;
    max-height: 130px;
}

.flex{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

h1{
    margin:0;
    font-size:58px;
    font-weight:300;
    letter-spacing:1px;
    line-height:1.2;
    color:#fff;
}

/* ===========================
   SUBTITLE
=========================== */

.sectitle{
    text-align:center;
    font-size:22px;
    color:rgba(255,255,255,.88);
    margin:0 0 40px;
    line-height:1.5;
}

/* ===========================
   HIDE WAVES
=========================== */

.waves{
    display:none;
}

/* ===========================
   MOBILE
=========================== */

@media (max-width:768px){

    .inner-header{
        padding:40px 20px 10px;
    }

    h1{
        font-size:34px;
    }

    .sectitle{
        font-size:16px;
        margin-bottom:30px;
    }

}